* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #1a1a1a, #2e2e2e);
  color: #fff;
  padding: 20px;
}

header {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #555;
}

.profil-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #00ffcc;
  margin-bottom: 15px;
  box-shadow: 0 0 20px #00ffcc88;
}

header h1 {
  font-size: 2.5em;
  color: #00ffcc;
}

header p {
  font-size: 1.2em;
  color: #aaa;
}

nav {
  margin-top: 15px;
}

nav a {
  text-decoration: none;
  margin: 0 10px;
  color: #00ffcc;
  padding: 8px 12px;
  border-radius: 8px;
  transition: 0.3s;
}

nav a:hover {
  background-color: #00ffcc;
  color: #111;
}

section {
  margin: 40px 0;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 0 15px #00ffcc55;
}

section h2 {
  margin-bottom: 10px;
  border-bottom: 2px solid #00ffcc;
  padding-bottom: 5px;
}

ul li {
  list-style: none;
  margin: 8px 0;
}

a {
  color: #00ccff;
  text-decoration: underline;
}

footer {
  text-align: center;
  margin-top: 30px;
  color: #888;
}